extends layout 

block main-content

  
   
     h1.textAlign.headingF F1 Schedule
     h3.textAlign.contentF1 Below you can find all the information regarding current years race schedule: 
     ul.textAlign 
       each m in F1Schedule 
          li 
           div Race Number: #{m.race_no}  
           div Race Date: #{m.date}
           div Race Track: #{m.track}
           <hr>
     footer#footer 
       p &copy; Copyright HTTP5211, 2023.
