extends layout 

block main-content  
    h1.page-title Contact Us 
    p.pageContent.aboutContent.

        At My Sport Shop, we are always here to help and support our customers. Whether you have a question about a product, need help placing an order, or simply want to provide feedback, we would love to hear from you. 
        Here are a few ways to get in touch with us:
    p.pageContent.aboutContent.

        Email: You can reach us at myportshop@gmail.com. Our customer service team will respond to your email as soon as possible.
    p.pageContent.aboutContent.
        Phone: You can call us at +15454564581. Our customer service team is available 24X7.
    p.pageContent.aboutContent.
        Live Chat: If you need an immediate response, you can chat with us using the live chat feature on our website. Simply click on the chat icon and a representative will be with you shortly.

    p.pageContent.aboutContent.
        We look forward to hearing from you and helping you with all of your fitness needs! 