extends layout

block main-content 
    h1.page-title My Sport Shop  
    p.pageContent  Welcome to My Port Shop, your one-stop-shop for all things fitness. We offer a wide range of high-quality gym equipment, designed to help you reach your fitness goals. Whether you're a seasoned athlete or just starting out, we have everything you need to get in shape and stay healthy. Browse our products today and take the first step towards a healthier you.


    .flexItem1
       each info in catalogue 
            .product 
                .prodImg 
                    img(id="hlo" src="./images/"+ info.Path,   alt="") 
                p   #{info.Name}
                p   #{info.Price}
                p   #{info.Usage}
                button#btn  buy 