extends layout 

block main-content 
    h1 My E-commerce Website
    div.content 
        p   Hey, welcome to my shopping website, where you can find apparels and accessories for men, women and children. Our every product is  selected by established fashion influencers, and with flexible return and refund policy, we make online shoppiing very convenient. 
        
    .imgFlex 
        .imgContainer   
            //- https://www.pixpa.com/blog/male-model-poses
            img(src="./images/man.jpeg", alt="img1")
            div
                button Shop now 
        .imgContainer 
            //- https://wallpaperaccess.com/female-model-desktop
            img(src="./images/female.webp", alt="img2")
            div
                button Shop now
        .imgContainer 
            //-https://www.momjunction.com/articles/how-to-get-your-child-into-modeling_00389574/
            img(src="./images/kidss.jpeg", alt="img3")
            div 
                button Shop now 
    
