extends layout 


block main-content
    .imageBg
        h1.textAlign.headingF My Sport Destination 
        
        h2.qq.textAlign Welcome to my website, your ultimate source for both soccer and Formula 1. Here, we bring you everything you the schedule for the current F1 and also soccer standings of all the leagues currently happening over the world.
        div.mainLinkDiv
            div
                a(href="./pointsTable") 
                    button.mainLink  Football Standings 
            div  
                a(href="./F1")  
                    button.mainLink F1 Schedule
       
        footer.footerIndex 
          p &copy; Copyright HTTP5211, 2023.
